.test {
    // background-image: data-uri("../Site/img/main_01.jpg");
    width: 200px;
    height: 200px;
}

.test2 {
    background-image: data-uri("./small.png");
    width: 200px;
    height: 200px;
}

