body {
    font-family: Microsoft Yahei;
    margin: 0px;
}

ul {
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.vertical-middle {
    display: inline-block;
    vertical-align: middle;
    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
    }
}

.dot-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-binding: url('ellipsis.xml#ellipsis');
    overflow: hidden;
}

.column {
    display: inline-block;
    vertical-align: top;
}

@_PAGE_WIDTH: 1003px;
@_COLUMN_MARGIN: 10px;
@_COLUMN_WIDTH: 490px;
#top {
    background-image: data-uri("./img/main_01.jpg");
    // background-image: data-uri("http://www.hncd.gov.cn/portal/lib/jttnew/images/main_01.jpg");
    #top-bar {
        background-color: #eeeff1;
        #top-bar-in {
            margin: auto;
            width: @_PAGE_WIDTH;
            font-size: 12px;
            >* {
                display: inline-block;
                height: 37px;
                .vertical-middle;
            }
            .left {
                width: 75%;
                div {
                    padding-left: 10px;
                    vertical-align: middle;
                    display: inline-block;
                    width: 110px;
                    .vertical-middle;
                }
            }
            .right {
                span {
                    display: inline-block;
                    vertical-align: middle;
                    border-right: solid #888 1px;
                    padding: 0px 5px;
                    margin: 5px 0px;
                }
            }
        }
    }
    .header {
        height: 190px;
        width: 1241px;
        margin: auto;
        position: relative;
        background-image: url("http://www.hncd.gov.cn/portal/lib/jttnew/images/banner.png");
        .header-banner {
            margin: auto;
            height: 150px;
        }
    }
}

#body {
    width: @_PAGE_WIDTH;
    margin: auto;
    .header() {
        background-color: #f4f4f4;
        font-size: 16px;
        >li {
            border-right: 1px solid #ccc;
            padding: 8px 19px;
            &:nth-last-child(1) {
                border-right: none;
                &.active {
                    border-right: 1px solid #ccc;
                }
            }
            &.active {
                background-color: #fff;
                border-top: 2px solid #009;
                border-bottom: 1px solid #fff;
            }
        }
    }
    >.row1 {
        margin-top: 4px;
        height: 312px;
        >.left {
            display: inline-block;
            vertical-align: top;
            width: @_COLUMN_WIDTH;
            height: 100%;
            background-color: #f7f7f7;
            margin-right: @_COLUMN_MARGIN;
        }
        >.right {
            display: inline-block;
            vertical-align: top;
            width: @_COLUMN_WIDTH;
            height: 100%;
            border: solid 1px #ccc;
            background-color: #f4f4f4;
            >.header {
                height: 30px;
                border-bottom: solid 1px #ccc;
                margin: 0px 13px 0px 13px;
                padding: 3 0;
                >.left {
                    font-size: 18px;
                    color: #c00;
                    display: inline-block;
                    margin-right: 322px;
                    .vertical-middle;
                    li {
                        font-size: 16px;
                    }
                }
                >.right {
                    font-size: 12px;
                    width: 70px;
                    .vertical-middle;
                }
            }
            >ul.list {
                padding: 0px;
                margin: 0px;
                >li {
                    list-style: none;
                    border-bottom: 1px #ccc solid;
                    margin: 0px 13px;
                    padding: 6px 0px;
                    font-size: 14px;
                    color: #333;
                    >.left {
                        display: inline-block;
                        vertical-align: top;
                        width: 305px;
                        margin-right: 72px;
                        .dot-overflow;
                    }
                    >.right {
                        display: inline-block;
                        vertical-align: top;
                        width: 80px;
                        text-align: right;
                    }
                }
            }
        }
    }
    >.row2 {
        margin-top: 10;
        .body() {
            height: 196px;
            margin-top: -1px;
            border-top: 1px solid #ccc;
            font-size: 14px;
        }
        .child() {
            display: inline-block;
            vertical-align: top;
            border: solid 1px #ccc;
            width: @_COLUMN_WIDTH;
        }
        //通知公告
        >.left {
            .child();
            margin-right: @_COLUMN_MARGIN;
            >ul.header {
                .header();
            }
            >.body {
                .body();
                >ul {
                    margin: 0px;
                    padding: 0px 10px;
                    >li {
                        margin: 10px 0px;
                        padding: 0px 0px;
                        list-style: none;
                        >.left {
                            display: inline-block;
                            vertical-align: bottom;
                            .dot-overflow;
                            width: 360px;
                            margin-right: 20px;
                        }
                        >.right {
                            display: inline-block;
                            vertical-align: bottom;
                            width: 80px;
                        }
                    }
                }
            }
        }
        // 我是从业者
        >.right {
            .child();
            .header {
                .header();
            }
            .body {
                .body();
                >ul {
                    >li {
                        display: inline-block;
                        vertical-align: top;
                        width: 84px;
                        margin: 0 39px;
                    }
                }
            }
        }
    }
    >.row3 {
        margin-top: 10px;
        >img {
            display: inline-block;
            vertical-align: top;
            margin-right: 4;
            padding: 0 0;
            width: 196px;
            height: 66px;
        }
    }
    >.row4 {
        margin-top: 10px;
        >.left {
            width: @_COLUMN_WIDTH;
            display: inline-block;
            vertical-align: top;
            border: solid 1px #ccc;
            ul.header {
                .header();
            }
            .body {
                border-top: 1px solid #ccc;
                margin-top: -1px;
                padding: 10px 21px;
                >ul {
                    >li {
                        display: inline-block;
                        margin: 12px 8px;
                        position: relative;
                        >span {
                            position: absolute;
                            top: 6px;
                            left: 32px;
                        }
                        >button {
                            font-size: 16px;
                            width: 207px;
                            height: 35px;
                            background-color: #e0f3ff;
                            border: 1px solid #ccc;
                            border-radius: 10px;
                            color: #444;
                            outline: none;
                            &:hover {
                                color: #c00;
                                cursor: pointer;
                            }
                        }
                    }
                }
                // 相关服务
                >.xgfw {
                    margin-top: 10px;
                    height: 80px;
                    position: relative;
                    border: solid 1px #ccc;
                    background-color: #f1f7fb;
                    >.float {
                        position: absolute;
                        width: 30px;
                        height: 88px;
                        color: #fff;
                        padding: 6px 0 4px 13px;
                        top: -9px;
                        left: 15px;
                        background-color: #0269b6;
                    }
                    >ul {
                        font-size: 14px;
                        padding: 0px 0px 0px 89px;
                        margin: 0px 0px 0px 0px;
                        >li {
                            padding: 0px 0px 0px 0px;
                            margin: 13px 0px 0px 29px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
        >.right {
            margin-left: @_COLUMN_MARGIN;
            display: inline-block;
            vertical-align: top;
            border: solid 1px #ccc;
            width: @_COLUMN_WIDTH;
            height: 270px;
            >ul.header {
                .header();
            }
            >.body {
                height: 231px;
                margin-top: -1px;
                border-top: solid 1px #ccc;
                >img {
                    width: 270px;
                    height: 210px;
                    float: left;
                    margin: 10px 10px;
                }
                >p {
                    margin-right: 10px;
                }
                overflow: hidden;
            }
        }
    }
}

#footer {
    margin-top: 10px;
    background-color: #3f9be0;
    .inner {
        width: @_PAGE_WIDTH;
        margin: auto;
        >.row1 {
            >select {
                margin: 16px 20px 0px 0px;
                padding: 0px 0px 0px 0px;
                &:nth-last-child(1) {
                    margin-right: 0px;
                }
            }
        }
        >.row2 {
            display: inline-block;
            vertical-align: top;
            margin-top: 10px;
            font-size: 14px;
            color: white;
            >* {
                display: inline-block;
                vertical-align: top;
            }
            >img {
                margin: 0px 0px 0px 120px;
                padding: 0px 0px 0px 0px;
            }
            >ul {
                margin: 9px 0px 0px 0px;
                padding: 0px 0px 0px 0px;
                >li {
                    margin: 7px 0px 0px 0px;
                }
            }
            >ul:nth-child(3) {
                margin-left: 205px;
            }
        }
    }
}
